
<li class="nav-item dropdown show">
    <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">Admin</a>
    <div>
        <a class="dropdown-item">Categories</a>
        <a class="dropdown-item">Users to Categories</a>
        <a class="dropdown-item">Media Types</a>
    </div>
</li>